:root {
  --color-primary: #141169;
  --color-secondary: #696773;
  --color-tertiary: #023b28;
}

html {
  min-height: 100%;
  color: white;
}

body {
  background: rgb(2, 0, 36);
  /* background: linear-gradient(
    333deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(24, 24, 144, 1) 40%,
    rgba(0, 139, 255, 1) 99%
  ); */
  background-color: var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
}

section.about {
  background-color: var(--color-tertiary);
  padding-bottom: 100px;
}

.about {
  margin: 0px;
}

.container-img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin: 0 auto;
}

.head-container {
  float: right;
}

.main-container {
  padding: 16px 32px;
}

.links-container {
  font-size: 40px;
  width: 100%;
  position: relative;
  bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
}

.links {
  display: grid;
  justify-content: center;
}

.links i {
  justify-self: center;
  color: var(--color-secondary);
}
