body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    333deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(24, 24, 144, 1) 40%,
    rgba(0, 139, 255, 1) 99%
  );
  background-position: center;
  background-repeat: no-repeat;
}

img {
  size: 32px;
  justify-self: center;
}

.links-container {
  font-size: 40px;
  min-height: 100px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
}

.links {
  justify-content: center;
  display: grid;
  grid-template-columns: 100px 30px 30px 30px;
  background: lightgreen;
}
